<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
  <head>
    <meta name="google-site-verification" content="jinSDyVVBA7mGl7Ku1zP1gS7pNwDvH3c38prD24-328" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>重庆Ruby On Rails开发</title>
    <meta name="description" content="重庆Ruby On Rails开发关注WEB的敏捷开发形式，关注WEB的健康发展" />
    <meta name="keywords" content="重庆Ruby On Rails开发 cqror web开发 SEO 开发标准 蕲春人 qichunren" />
    <%= stylesheet_link_tag 'homepage' %>
  </head>
  <body>
    <div id="header"><h1>重庆ROR开发</h1>
      <div class="nav">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="/contact-us">联系我</a></li>
        </ul>
      </div>
    </div>

    <div id="main"> 
      <div class="wrap">
      <div style="float:left;">

        <h3>联系我</h3>

        <ul style="font-size:110%;padding:10px;border-bottom:1px solid #BDBDBD;">
          <li style="padding:5px 0;">电子邮件: whyruby@gmail.com</li>
          <li style="padding:5px 0;">MSN: rubyonrials@live.cn</li>
          <li style="padding:5px 0;">GTalk: whyruby@gmail.com</li>
        </ul> 
        
        </div>
             <div style="float:right;">
<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://service.t.sina.com.cn/widget/WeiboShow.php?width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1877545463&verifier=ea37cf12"></iframe>
      </div> 
      </div>
    </div>

    <hr class="clear"></hr>

    <div id="footer">
      <div class="wrap">
        <div style="float:left;">重庆Ruby On Rails开发<br/>Chongqing Ruby On Rails Development 2009 - 2010</div>
        <div style="float:right;padding-right:100px;;line-height:40px;">联系我们:<span style="font-size:200%;color:#FF9900;margin-right:30px"><em style="font-size:90%;"></em>whyruby@gmail.com</span><%= link_to "我的博客", "/myblog" %></div>
      </div>
    </div>

    <%= render 'shared/google_analytics' %>
  </body>
</html>
